
html::-webkit-scrollbar{
    background-color: white;
    width: 8px;
}

html::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 30px;
}

body{
    margin: 0;
    font-family: 'Geologica', sans-serif;
    padding: 0;
    height: 2500px;
}
.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: -2px 1px 9px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 1px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 1px 9px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    padding: 15px 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.menu a{
    margin: 10px;
    font-size: 13px;
}

.menu a{
    text-decoration: none;
    color: black;
    
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
}

.menu a:hover{  
    border-color: red;
    color: red;
    padding-bottom: 4px;

}

.additional i:hover{
    color: red;
    cursor: pointer;
}

.home{
    margin-top: -89.2;
    padding: 0;
    
    height: 100vh;
    background: url('img/11.jpg') no-repeat;
    background-size: cover;
    
}

.box-head img{
    width: 100px;
    height: 150px;
    transition: 0.5s all ease-in;
}

.box-head img:hover{
    width: 110px;
    height: 160px;
}


.shadow{
    
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 40px;
    background-color: rgba(0,0,0,0.6);
}

.title h2{
    font-size: 70px;
}
.home .title{
    width: 400px;
    color: white;
}


section{
    margin: auto;
    padding: 0 105px;
    margin-top: 20px;
    max-width: 1800px;
    
}
.sectitle{
    font-size: 30px;
    font-weight: bold;
}
.sectitle span{
    color: red;
}
.menu_item_cont{
    padding: 10px 20px;
}

.sec_items{
    display: flex;
    
    

}


.sec_items .menu_item:first-child{
    margin-left: 0 !important;
}
.menu_item{
    margin-left: 15px;

    flex-grow: 1;
    background-color: white;
    box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
}


.menu_item_img{
    height: 250px;
    object-fit: contain;
}

.menu_item_img img{
    object-fit: cover;
}

.menu_title{
    font-size: 20px;
}


.menu_btn{
    
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.menu_btn button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: black;
    border-color: black;
    color: white;
    border-radius: 30px;
}

.menu_btn button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.filial_item{
    background-color: white;
    box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px -1px 7px 0px rgba(0,0,0,0.75);
    flex: 1;
    margin-left: 15px;
    max-width: 400px;
}

.filial_img{
    height: 330px;
}

.filial_img img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;

}

.filial_title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

.filial_text{
    padding: 15px;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filial_text i{
    margin-right: 5px;
}





.contact_title{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.contact_point{
    display: flex;
}

.map_content{
  
    width: 50%;
    height: 400px;
}

.contact_texts{
    width: 50%;
    padding: 20px;
}

.contact_item div:first-child{
    font-size: 20px;
    opacity: 0.5;
}

.contact_item {
    padding: 10px;
}
.contact_item div:nth-child(2){
    font-size: 30px;
    opacity: 1;
}